<% form_for @story do |f|%>
	<p>
		<%= error_messages_for 'story' %>
		name: <br />
		<%= f.text_field :name %>
		</p>
		<p>
			link:<br />
			<%= f.text_field :link %>
			</p>
			<p>
				<%= submit_tag %>
				</p>
				<% end %>